
[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

# Opcional pero recomendado: redirige cualquier ruta desconocida al index.html (SPA)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
